@media (min-width: 1000px) {
    .navbar {
        padding-left: 1vh;
        padding-right: 1vh;
    }
    .nav-item {
        margin-left: 10vh;
    }
}

.container {
    width: max-content;
    font-size:large;
}
.col{
    background-color:rgb(246, 248, 251);
    margin: 1vh;
}
